{% load branding i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>{% block title %}{% endblock %} – {% site_branding %} Dashboard</title>
    {% block css %}
      {% include "_stylesheets.html" %}
    {% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}">
    {% block content %}
      <div id="container">
	<div class='topbar_xc'>
	    <a class="brand" style="font-size:35px" href="{% url horizon:user_home %}">	{% trans "行云" %}</a>
            {% include "_header.html" %}
	</div>
        <div id='main_content'>
          <div class='topbar'>
		        {% block sidebar %}{% endblock %}
          </div>

          {% block main %}{% endblock %}
        </div>
      </div>
    {% endblock %}
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
    {% block js %}
      {% include "_scripts.html" %}
    {% endblock %}
  </body>
</html>
